---
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout title="404 - Page Not Found">
	<section class="hero">
		<h1 class="hero-title">404</h1>
		<h2 class="hero-subtitle">Page Not Found</h2>
		<p class="hero-desc">
			Oops! It looks like the page you are looking for has been moved or
			doesn't exist.
		</p>
		<div class="hero-socials">
			<a
				href="/blog-beta"
				style="text-decoration: underline; font-weight: bold;"
			>
				Return Home
			</a>
		</div>
	</section>
</MainLayout>
