---
const pathname = Astro.url.pathname;
---

<div class="header">
    <div class="title">
        <a href="/"
            >microkid<sup class="header-version"
                >(v0.0.5 beta)</sup
            ></a
        >
    </div>
    <div class="nav">
        <nav class="nav-buttons">
            <a href="/" class={pathname === "/" ? "active" : ""}>Home</a>

            <a
                href="/blog"
                class={pathname.startsWith("/blog") ||
                pathname.startsWith("/posts")
                    ? "active"
                    : ""}>Blog</a
            >
        </nav>
    </div>
    <div class="search-box">
        <button
            id="theme-toggle"
            class="theme-toggle"
            aria-label="Toggle Theme"
        >
            <svg
                id="theme-icon-moon"
                xmlns="http://www.w3.org/2000/svg"
                width="20"
                height="20"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="theme-icon"
            >
                <path d="M21 12.79A9 9 0 1 1 11.21 3 7 7 0 0 0 21 12.79z"
                ></path>
            </svg>
            <svg
                id="theme-icon-sun"
                xmlns="http://www.w3.org/2000/svg"
                width="20"
                height="20"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="theme-icon"
            >
                <circle cx="12" cy="12" r="5"></circle>
                <line x1="12" y1="1" x2="12" y2="3"></line>
                <line x1="12" y1="21" x2="12" y2="23"></line>
                <line x1="4.22" y1="4.22" x2="5.64" y2="5.64"></line>
                <line x1="18.36" y1="18.36" x2="19.78" y2="19.78"></line>
                <line x1="1" y1="12" x2="3" y2="12"></line>
                <line x1="21" y1="12" x2="23" y2="12"></line>
                <line x1="4.22" y1="19.78" x2="5.64" y2="18.36"></line>
                <line x1="18.36" y1="5.64" x2="19.78" y2="4.22"></line>
            </svg>
        </button>
        <div class="search-container">
            <button
                id="search-toggle"
                class="search-toggle"
                aria-label="Toggle search"
            >
                <svg
                    class="search-icon"
                    xmlns="http://www.w3.org/2000/svg"
                    width="20"
                    height="20"
                    viewBox="0 0 24 24"
                    fill="none"
                    stroke="currentColor"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                >
                    <circle cx="11" cy="11" r="8"></circle>
                    <line x1="21" y1="21" x2="16.65" y2="16.65"></line>
                </svg>
            </button>
            <input
                type="search"
                id="search-input"
                placeholder="Search"
                autocomplete="off"
            />
            <div id="search-results" class="search-results"></div>
        </div>
    </div>
</div>

<script src="../scripts/search.ts"></script>
<script src="../scripts/theme.ts"></script>
